@media screen and (max-width: 279px) {
    .title {
        font-size: 18px;
    }

    .txt {
            height: 0;
            background-color: #d3d3d3;
            display: flex;
            align-items: center;
            padding-left: 10px;
            font-size: 17px;
            overflow: hidden;
            transition: height 0.5s; 
        }
}
